/* VARIABLES */
:root {
    --primary-font: 'Roboto Mono', monospace;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
    --max-width: 1200px;
    --radius: 0.3rem;
    --transition: all 0.3s linear;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--secondary-font);
    line-height: 1.5;
    background-color: var(--light-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    width: 100%;
}

h1, h2, h3, h4 {
    font-family: var(--primary-font);
    margin-bottom: 0.6rem;
}

.current {
    border-bottom: var(--primary-color) 1px solid;
}

.icons {
    font-size: 2rem;
}

.fa-youtube:hover {
    color: #ff0000;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover {
    color: #3f729b ;
}

/* UTILITY */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.category {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.category-sports { color: var(--sports-color); }
.category-ent { color: var(--ent-color); }
.category-tech { color: var(--tech-color); }

.btn {
    padding: 0.3rem 0.6rem;
    border-radius: var(--radius);
    font-size: 1.2rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary, .bg-primary {
    background: var(--primary-color);
    color: var(--light-color);
}

.btn-light {
    background: var(--light-color);
    color: var(--dark-color);
}

.btn-dark, .bg-dark {
    background: var(--dark-color);
    color: var(--light-color);
}

.btn-sports {
    background: var(--sports-color);
    color: var(--light-color);
}

.btn-ent {
    background: var(--ent-color);
    color: var(--light-color);
}

.btn-tech {
    background: var(--tech-color);
    color: var(--light-color);
}

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 4;
}

/* NAVIGATION */
.main-nav {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 12;
}

.main-nav .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;
    padding: 1rem;
}

.main-nav .logo {
    width: 180px;
}

.social-links {
    justify-self: center;
}

.social-links .icon {
    margin-left: 1rem;
    transition: var(--transition);
}

.links {
    justify-self: end;
    display: flex;
}

.links .link {
    font-weight: bold;
    margin-left: 1.5rem;
    transition: var(--transition);
    font-size: 1.2rem;
}

.links .link:hover {
    border-bottom: var(--primary-color) 1px solid;
}

/* SHOWCASE */
.showcase {
    background: url(../img/showcase-bg.jpeg) no-repeat center center/cover;
    width: 100%;
    height: calc(100vh - 81px);
    color: var(--light-color);
    display: flex;
    position: relative;
}

.showcase::before {
    content: '';
    background: var(--dark-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.showcase * {
    z-index: 10;
}

.showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.showcase-text {
    margin: 0.5rem 0 2rem 0;
}

.showcase-text::first-letter {
    font-size: 2rem;
}

/* ARTICLES */
.home-articles {
    padding: 2rem 1rem;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}

.card {
    border: 1px solid var(--dark-color);
    border-radius: var(--radius);
    box-shadow: 5px 5px 10px var(--dark-color);
    transition: var(--transition);
}

.card:hover {
    transform: scale(1.03);
}

.card-text {
    position: relative;
    padding: 1rem;
}

.card-text p {
    margin-bottom: 1rem;
}

/* ABOUT PAGE */
.showcase-about {
    background: url(../img/about-bg.jpeg) no-repeat center center/cover;
    width: 100%;
    height: 50vh;
}

.about-content {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 1rem;
    padding: 1rem 0;
}

.about-text {
    grid-row: 1 / span 3;
    padding: 0 1rem 2rem 0;
}

.join-club {
    padding: 1rem;
}

.join-club p {
    margin: 1rem 0;
}

.ads img{
    width: 100%;
}

/* ARTICLE */
.categories {
    padding: 0.5rem;
}

.categories li {
    border-bottom: 1px solid var(--dark-color);
    margin: 0.5rem 0;
}

.categories li:hover {
    position: relative;
    left: 5px;
}
/* FOOTER */
.main-footer {
    background: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
}

.main-footer .logo {
    position: relative;
    padding: 1rem;
    width: 260px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.main-footer ul a {
    color: var(--light-color);
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 0;
}

.footer-content .newsletter form input[type=email]{
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.footer-content .newsletter form input[type=email]:focus {
    outline-color: var(--primary-color);
}

.footer-content .newsletter form .btn {
    border: none;
    cursor: pointer;
}

.list a:hover {
    color: var(--primary-color);
}

.footer-content:last-child p {
    margin-bottom: 1rem;
}

.copyright {
    text-align: center;
    margin-top: 2rem;
}
